<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Insurance Analysis Dashboard</title>
    <!-- Bootstrap CSS -->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <style>
      .navbar-custom {
        background-color: #1e3d59; /* Dark blue background */
      }
    </style>
  </head>
  <body>
    <!-- Navbar Code -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style="font-size: 24px"
          >Insurance Dashboard</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Dashboard 1</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Dashboard 2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Dashboard 3</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Advanced</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">History</a>
            </li>
          </ul>
          <div class="d-flex">
            {% if current_user.is_authenticated %}
            <form
              class="me-2"
              action="{{ url_for('web.upload_file_1') }}"
              method="post"
              enctype="multipart/form-data"
            >
              {{ form.csrf_token }}
              <input
                class="form-control"
                type="file"
                name="file"
                onchange="this.form.submit();"
                hidden
                id="fileUpload1"
              />
              <label for="fileUpload1" class="btn btn-outline-light me-2"
                >Upload 1</label
              >
            </form>
            <form
              class="me-2"
              action="{{ url_for('web.upload_file_2') }}"
              method="post"
              enctype="multipart/form-data"
            >
              {{ form.csrf_token }}
              <input
                class="form-control"
                type="file"
                name="file"
                onchange="this.form.submit();"
                hidden
                id="fileUpload2"
              />
              <label for="fileUpload2" class="btn btn-outline-light me-2"
                >Upload 2</label
              >
            </form>
            <a
              href="{{ url_for('web.logout') }}"
              class="btn btn-outline-light me-2"
              role="button"
            >
              Logout
            </a>

            {% else %}
            <a
              href="{{ url_for('web.login') }}"
              class="btn btn-outline-light me-2"
              role="button"
            >
              Login
            </a>
            <a
              href="{{ url_for('web.register') }}"
              class="btn btn-outline-light"
              role="button"
            >
              Register
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories = True) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock %}
  </body>
</html>
